body {
background: #CDCDEF;
}
#bg-test{
	width: 80%;
	min-height: 40em;
	margin: auto;
	border: solid 2px #000;
	
	background-image: url('logo.jpg');
	background-size: cover;
	background-position: center;
	background-repeat:no-repeat;
}
